<table id="projecttable" class="table">
  <tr>
    <th>Name</th>
    <th>OBS Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {{#each project}}
  <tr>
    <td>{{this.Name}}</td>
    <td>{{this.OBSName}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {{/each}}
</table>
