<table id="activitycodetable" class="table">
  <tr>
    <th>Code Type Name</th>
    <th>Code Type Scope</th>
    <th>Code Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  {{#each activitycodes}}
  <tr>
    <td>{{this.CodeTypeName}}</td>
    <td>{{this.CodeTypeScope}}</td>
    <td>{{this.CodeValue}}</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  {{/each}}
</table>
