<table id="resourcetable" class="table">
  <tr>
    <th>Value</th>
    <th>Description</th>
    <th>Code Type</th>
    <th></th>
    <th></th>
  </tr>
  {{#each resourcecodes}}
  <tr>
    <td>{{this.CodeValue}}</td>
    <td>{{this.Description}}</td>
    <td>{{this.CodeTypeName}}</td>
    <td></td>
    <td></td>
  </tr>
  {{/each}}
</table>
